@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    background-color: rgb(1, 46, 86);
    font-family: "Montserrat", sans-serif;
    color: #fff;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.panel {
    position:fixed;
    width:100vw;
    height:100vh;
    left:0;
    top:0;
}
.innards {
    position: fixed;
    left:50vw;
    top:50vh;
    text-align: center;
    transform: translate(-50%,-50%);
}
.button {
    border: 1px solid white;
    font-size: 150%;
    padding-left:3px;
    padding-right:3px;
    padding-top: 0px;
    padding-bottom: 1px;
    border-radius:5px;
    color: #fff;
}
.button:hover {
    background: #fff;
    color: #000;
}
.disabled {
    color: #aaa;
    border: 1px solid #aaa;
}
.disabled:hover {
    background: transparent;
    color: #aaa;
}

h1 {
    font-size: 500%;
    line-height: 1em;
}

#disclaimerPanel {
    background:#000;
    z-index: 1000;
}

#play {
    font-size: 250%;
}

.side {
    width:50vw;
}
.vleft {
    left: -50vw;
}
.vleft > .innards {
    left: -25vw;
} 
.left {
    left: 0;
}
.left > .innards {
    left: 25vw;
} 
.right {
    right: 0;
}
.right > .innards {
    left: 75vw;
} 

#leftImg {
    opacity: 0.4;
    background-size:cover;
    background-position: center;
}
#rightImg {
    opacity: 0.5;
    position:fixed;
    left:50vw;
    width:50vw;
    background-size:cover;
    background-position: center;
}

#vleftImg {
    opacity: 0.4;
    background-size:cover;
    background-position: center;
}
@keyframes slide {
    from {transform: translate(50%,0%)}
    to {transform: translate(0%,0%)}
  }
  

#gamePanel {
    animation-duration: 0.5s;

}

body{
    padding:0px;
    margin:0px;
}
.final {
    font-size:0px;
}
.final > h1 {
    font-size:80px;
}
.final > .button {
    font-size:80px;
}
.final > #higherBtn {
    display:none;
}
h1 {
    max-width: 50vw;
    word-wrap: break-word;
}