@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    background-color: rgb(1, 46, 86);
    font-family: "Montserrat", sans-serif;
    color: #fff;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
            overflow: hidden;
}

/* mobile safari is the new ie6*/
html,
body {
    overflow: hidden;
    position: relative;
    height: calc(var(--vh, 1vh) * 100);
    max-height: calc(var(--vh, 1vh) * 100);

}

.panel {
    position:fixed;
    width:100vw;
    height:100vh;
    height: calc(var(--vh, 1vh) * 100);
    left:0;
    top:0;
}
.innards {
    position: fixed;
    left:50vw;
    top:50vh;
    top: calc(var(--vh, 1vh) * 50);
    text-align: center;
    transform: translate(-50%,-50%);
}
.button {
    border: 1px solid white;
    font-size: 150%;
    padding-left:3px;
    padding-right:3px;
    padding-top: 0px;
    padding-bottom: 1px;
    border-radius:5px;
    color: #fff;
}
.button:hover {
    background: #fff;
    color: #000;
}
.disabled {
    color: #aaa;
    border: 1px solid #aaa;
}
.disabled:hover {
    background: transparent;
    color: #aaa;
}

h1 {
    font-size: 300%;
    line-height: 1em;
    padding:0;
    margin:0;
}

#disclaimerPanel {
    background:#000;
    z-index: 1000;
}

#play {
    font-size: 250%;
}

.side {
    width:50vw;
}
.vleft {
    left: -50vw;
}
.vleft > .innards {
    left: -25vw;
} 
.left {
    left: 0;
}
.left > .innards {
    left: 25vw;
} 
.right {
    right: 0;
}
.right > .innards {
    left: 75vw;
} 

#leftImg {
    opacity: 0.4;
    background-size:cover;
    background-position: center;
}
#rightImg {
    opacity: 0.5;
    position:fixed;
    left:50vw;
    width:50vw;
    background-size:cover;
    background-position: center;
}

#vleftImg {
    opacity: 0.4;
    background-size:cover;
    background-position: center;
}

#gamePanel {
    animation-duration: 0.5s;

}

body{
    padding:0px;
    margin:0px;
}
.final {
    font-size:0px;
}
.final > h1 {
    font-size:80px;
}
.final > .button {
    font-size:80px;
}
.final > #higherBtn {
    display:none;
}
#thisistheboxforsharing_fuck_off_content_blockers {
    display:none;
}
.final > #thisistheboxforsharing_fuck_off_content_blockers {
    display:block;
}
.final > #thisistheboxforsharing_fuck_off_content_blockers {
    font-size: 20px;
}
h1 {
    max-width: 50vw;
    word-wrap: break-word;
}
@keyframes slide {
    from {transform: translateX(50%)}
    to {transform: translateX(0%)}
}
@keyframes slideV {
    from {margin-top: 50vh;}
    to {margin-top: 0vh;}
}
  
@media (orientation:portrait) {
    h1 { max-width: 100vw; }
    
    #rightImg {
        top:50vh;
        left:0px;
        height:50vh;
        width: 100vw;
        height: calc(var(--vh, 1vh) * 50);
        top: calc(var(--vh, 1vh) * 50);
    }

    .side {
        width:100vw;
        height:50vh;
        height: calc(var(--vh, 1vh) * 50);
    }
    .vleft {
        top: -50vh;
        top: calc(var(--vh, 1vh) * -50);
        left:0px;
    }
    .vleft > .innards {
        top: -25vh;
        top: calc(var(--vh, 1vh) * -25);
        left:50vw;
    } 
    .left > .innards {
        top: 25vh;
        top: calc(var(--vh, 1vh) * 25);
        left: 50vw;
    }
    .left {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        top: 0;
        left: 0;
    }
    .right > .innards {
        top: 75vh;
        top: calc(var(--vh, 1vh) * 75);
        left: 50vw;
    }
    .right {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        top: 50vh;
        top: calc(var(--vh, 1vh) * 50);
        left: 0;
    }
    .final {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        top: 0px;
        position: fixed;
        width:100vw;
        left: 0;
        background: rgb(86, 46, 1);
    }
}
